<?xml version="1.0" encoding="utf-8"?>
<Settings xmlVersion="5" numberOfApplicationRuns="123" hasOpenedControlSettings="true" appVersionLastRun="1.3.116.0" gameStateId="3029a6ca-524b-414c-82b4-c225442765d9">
  <User x="1753e752-1be0-48c6-9485-7c0781b53b26" userName="CarsonWe" clientToken="39012d8d-573b-4fdb-9214-432020a94eea" />
  <Notifications showWhatsNew="false">
    <Notification name="PlayLaunchCraft" />
    <Notification name="PartProperties-ConfigData" />
    <Notification name="PartProperties-ParachuteData" />
    <Notification name="PartProperties-FuselageData" />
    <Notification name="PartProperties-FuelTankData" />
    <Notification name="PartProperties-GyroscopeData" />
    <Notification name="PartProperties-CommandPodData" />
    <Notification name="PartProperties-RocketEngineData" />
    <Notification name="PartProperties-InputControllerData" />
    <Notification name="PartProperties-CrewCompartmentData" />
    <Notification name="PartProperties-ScalablePodData" />
    <Notification name="PartProperties-PistonData" />
    <Notification name="PartProperties-SolarPanelArrayData" />
    <Notification name="Flight-RecenterCamera" />
    <Notification name="PartProperties-DetacherData" />
    <Notification name="PartProperties-CoverEngineData" />
    <Notification name="PartProperties-CrossFeedData" />
    <Notification name="PartProperties-EngineData" />
    <Notification name="SP2-Announcement" />
    <Notification name="PartProperties-LightPartData" />
    <Notification name="PartProperties-LightData" />
    <Notification name="PartProperties-DockingPortData" />
    <Notification name="PartProperties-CameraVantageData" />
    <Notification name="PartProperties-FlightProgramData" />
    <Notification name="PartProperties-InletData" />
    <Notification name="PartProperties-ReactionControlNozzleData" />
    <Notification name="Designer-CompletedIntro" />
    <Notification name="PartProperties-ResizableWheelData" />
    <Notification name="Tutorial-TheJump" />
    <Notification name="PartProperties-SolarPanelData" />
    <Notification name="PartProperties-SubPartRotatorData" />
    <Notification name="PartProperties-WingData" />
    <Notification name="PartProperties-ControlSurfaceData" />
    <Notification name="PartProperties-JetEngineData" />
    <Notification name="PartProperties-LandingGearData" />
    <Notification name="PartProperties-CockpitData" />
    <Notification name="PartProperties-SuspensionData" />
    <Notification name="PartProperties-EvaChairData" />
    <Notification name="PartProperties-PropellerAssemblyData" />
  </Notifications>
  <UserPrefs>
    <Pref name="Space Capsule.Crew" type="Bool" value="false" />
    <Pref name="Fuel Tank.Actions" type="Bool" value="false" />
    <Pref name="Parachute.Parachute info" type="Bool" value="false" />
    <Pref name="Komodo Capsule.Crew" type="Bool" value="true" />
    <Pref name="Fuel Tank..Tank Set" type="Bool" value="true" />
    <Pref name="Design Info.Interstage" type="Bool" value="true" />
    <Pref name="Design Info.Staging Analysis" type="Bool" value="false" />
    <Pref name="Design Info.Environment" type="Bool" value="false" />
    <Pref name="Drood.Actions" type="Bool" value="true" />
    <Pref name="Drood.Flight Program" type="Bool" value="false" />
    <Pref name="FlightLog.Position" type="Vector2" value="-91,492" />
    <Pref name="Komodo Nose Cone.Actions" type="Bool" value="false" />
    <Pref name="Flight Info.Auto-pilot" type="Bool" value="true" />
    <Pref name="Map Info.Orbit Details" type="Bool" value="false" />
    <Pref name="Map Info.Item Visibility" type="Bool" value="false" />
    <Pref name="Map Info.Map Options" type="Bool" value="false" />
    <Pref name="Flight Info.Performance" type="Bool" value="true" />
    <Pref name="Flight Info.Trajectory" type="Bool" value="true" />
    <Pref name="Flight Info.Options" type="Bool" value="true" />
    <Pref name="Light.Actions" type="Bool" value="false" />
    <Pref name="Flight Info.Velocity" type="Bool" value="true" />
    <Pref name="InspectorPanel.FlightView.Position" type="Vector2" value="-32,-149" />
    <Pref name="Flight Info.Fuel" type="Bool" value="true" />
    <Pref name="Patriot Capsule.Crew" type="Bool" value="false" />
    <Pref name="Astronaut.Actions" type="Bool" value="false" />
    <Pref name="Wing.Actions" type="Bool" value="false" />
    <Pref name="InspectorPanel.Part0.Position" type="Vector2" value="0,0" />
    <Pref name="Solar Panel Array.Actions" type="Bool" value="false" />
    <Pref name="Komodo Capsule..Tank Set" type="Bool" value="true" />
    <Pref name="Komodo Capsule.Gyroscope" type="Bool" value="true" />
    <Pref name="Komodo Capsule.Actions" type="Bool" value="true" />
    <Pref name="Wing..Tank Set" type="Bool" value="true" />
    <Pref name="JT-85.Actions" type="Bool" value="false" />
    <Pref name="Cockpit.Flight Program" type="Bool" value="true" />
    <Pref name="Command Disc.Actions" type="Bool" value="true" />
    <Pref name="Design Info.Fuel Tank.Tank Set" type="Bool" value="false" />
    <Pref name="InspectorPanel.MapView.Position" type="Vector2" value="-212,-74" />
    <Pref name="Apex Engine.Actions" type="Bool" value="false" />
    <Pref name="Vroz Space Capsule.Crew" type="Bool" value="false" />
    <Pref name="Vroz Space Capsule.Actions" type="Bool" value="false" />
    <Pref name="Vroz Orbital Module.Actions" type="Bool" value="false" />
    <Pref name="Vroz Orbital Module.Crew" type="Bool" value="false" />
    <Pref name="Vroz Space Capsule.Gyroscope" type="Bool" value="true" />
    <Pref name="Parachute.Actions" type="Bool" value="false" />
    <Pref name="Drogue Chute.Parachute info" type="Bool" value="false" />
    <Pref name="Flight Info.Docking" type="Bool" value="true" />
  </UserPrefs>
  <Mods modSupportEnabled="true" ignoreVersionMismatch="false">
    <EnabledMods />
    <WorkshopMods />
  </Mods>
  <Game>
    <General expanded="true" userInterfaceSize="1.25" fieldofView="60" fileLogging="Full" skipMainMenu="false" useDirectInput="false" supportUnknownGamepadsOnAndroid="true" />
    <Audio expanded="true" masterVolume="1" musicVolume="0" soundVolume="1" spaceSoundAttenuation="true" />
    <Designer expanded="true" zoomSensitivity="1" rotateSensitivity="1" panSensitivity="1" angleSnap="15" gridSize="0" autoResize="true" surfaceAttachments="true" showGizmos="true" showAttachPoints="true" tinkerPanelEnabled="false" optimizeCraftXML="true" unlockTransparency="false" />
    <Flight expanded="true" showNavSphere="false" showNavSphereinMapView="false" showFlightViewInspector="false" astronautFollowsCamera="true" dragScale="1" gravityScale="1" heatDamage="0" physicalDamage="1.00364673" ambientLightAttenuation="true" ambientLightAtNight="1" ambientLightInSpace="1" starBrightness="1" cameraShake="1" cameraSpeed="2" cameraSensitivity="2" chaseCameraSmoothing="7" fPSCameraSmoothing="1" fPSCameraSpeed="1" slow-MoSpeed="4" fastForwardSpeed="10" visibleInputSliders="" />
    <User expanded="false" />
  </Game>
  <Quality>
    <OverallQuality expanded="true" preset="Low" />
    <Display expanded="true" resolution="2778x1284@60" fullscreen="true" mobileResolutionScale="1" refreshRate="2" anti-Aliasing="None" resolutionScale="1" mobileEmulation="None" />
    <Craft expanded="false" preset="Low" />
    <ImageEffects expanded="false" preset="Off" />
    <Map expanded="false" preset="Low" />
    <Physics expanded="true" preset="Low" />
    <Shadows expanded="false" preset="Low" />
    <Terrain expanded="false" preset="Low" />
    <VisualEffects expanded="false" preset="Low" />
    <Water expanded="true" preset="Low" />
  </Quality>
</Settings>